.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }


body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #283136;
	
	
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	/*margin-left: 140px;*/
}

a {
	text-decoration: none;
}

/* Стили для шапки сайта */

.main-header {
	background-color: #eeeeee;
	min-height: 115px;
	display: flex;
}

/* Логотип */

.main-logo {
	width: 160px;
	height: 65px;
	
	/*align-items: center;*/	
}

.main-logo:hover,
.main-logo:focus {
	width: 160px;
	height: 65px;
	background-image: url("/img/nerds-logo.svg");
	opacity: 0.8;
}

.main-logo:active {
	width: 160px;
	height: 65px;
	background-image: url("/img/nerds-logo.svg");
	opacity: 0.3;
}

/* МЕНЮ */

.site-nav {
	display: flex;
	width: 1160px;
	min-height: 115px;
	padding-top: 50px;
	align-items: center;
}

.site-nav a {
	color: #283136;
	text-transform: uppercase;
	font-size: 17.5px;
	line-height: 31.5px;
	font-weight: 500;
	margin-right: 50px;
}


.site-nav a:hover,
.site-nav a:focus {
	color: #fb565a;
}

.site-nav a:active {
	color: #000000;
	opacity: 0.3;
}

.main-nav {
	display: flex;
	/*align-items: center;*/
	width: 800px;
	margin-left: 200px;
}

.main-nav .cart { /* не работает :(( */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
	
}

/* Стили для body */

.services {
	display: flex;
	justify-content: flex-start;
	
}

.services-list {
	display: flex;
	list-style: none;
	padding: 0px;
	flex-wrap: wrap;
}

[class^="service-"] {
	
	width: 300px;
	margin-right: 100px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.service-3 {
	margin-right: 0px;
}

.services-list h3 {
	text-transform: uppercase;
	font-size: 24.5px;
	font-weight: bold;
	font-style: normal;
	line-height: 31.5px;
	color: #000000;

}

.services-list p {
	line-height: 24px;
} 

.services-list .button {
	
	width: 160px;
  	height: 50px;
	text-align: center;
	text-transform: uppercase;
	font-size: 17.5px;
	color: #ffffff;
}

.service-1 .button {
	background-color: #fb565a;
}

.service-1 .button:hover,
.service-1 .button:focus {
	background-color: #e74246;
}

.service-1 .button:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
	
}

.service-2 .button {
	background-color: #00ca74;;

}

.service-2 .button:hover,
.service-2 .button:focus {
	background-color: #00bc6c;
}

.service-2 .button:active {
	background-color: #00aa62;
	color: rgba(255, 255, 255, 0.3);	
}

.service-3 .button {
	background-color: #efc84a;;
}

.service-3 .button:hover,
.service-3 .button:focus {
	background-color: #eab534;
}

.service-3 .button:active {
	background-color: #e5a722;
	color: rgba(255, 255, 255, 0.3);
}

/* SHOP TEMPLATES */

.tmpl-info .button-price {
	
	background-color: #fb565a;
	color: #ffffff;
	text-align: center;
}

.tmpl-info .button-price:hover,
.tmpl-info .button-price:focus {
	background-color: #e74246;
}

.tmpl-info .button-price:active {
	background-color: #d7373b;
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.tmpl-info h2 {
	color: #000000;
	font-weight: 700px;
	font-size: 17.5px;
	line-height: 31.5px;
	text-transform: uppercase;
}

.filters fieldset {
	font-size: 17.5px;
	line-height: 31.5px;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 50px;

}

.filters ul {
	list-style: none;
	font-size: 16px;
	line-height: 20px;
	color: #283136;
}



.filters button {
	width: 260px;
	height: 50px;
	background-color: #eeeeee;
	color: #000000;
	text-transform: uppercase;
	font-weight: 500;
	border: 0px;
}


/* СТИЛИ ДЛЯ ФУТЕРА */

.footer-main {
	display: flex;
	min-width: 1160px;
	min-height: 217px;
	
}

.footer-social {
	display: flex;
	width: 100%;
	
}

.footer-social ul {
	display: flex;
	width: 264px;
	justify-content: space-between;
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-top: 70px;
	margin-bottom: 70px;
}

.footer-text {
	display: flex;
	flex-direction: column;
	min-width: 400px;
	margin-left: 140px;
	margin-top: 80px;
	margin-bottom: 80px;
}

.footer-text b {
	width: 100%;
	font-weight: bold;
	font-size: 35px;
	color: #000000;
	line-height: 35px;
	
	
}

.footer-text p {
	width: 100%;
	line-height: 22px;
	color: #444444;	
	
	
}




/* ВНУТРЕННИЕ СТРАНИЦЫ */

/* СТИЛИ ДЛЯ ХЕДЕРА */

.main-header-inner {
	display: flex;
	min-height: 115px;
	min-width: 1160px;
	background-color: #eeeeee;
	flex-wrap: wrap;
	
}




.inner-heading {
	display: flex;
	flex-direction: row;
	align-self: flex-end;
}

.main-header-inner h1 {
	font-size: 54px;
	font-weight: 500;
	font-style: normal;
	line-height: 54px;
	color: #000000;
	width: 100%;
	justify-content: center;
	margin-bottom: 120px;
	margin-top: 80px;
}



/* БОДИ */

.catalog {
	display: flex;

}

.filters {
	display: flex;
	width: 260px;
	margin-top: 60px;
	margin-right: 140px;
	
}

.templates {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0px;
	padding: 0px;

}

.template {
	min-width: 360px;
	margin-right: 40px;
	margin-bottom: 35px;
}

.template:nth-child(2n) {
	margin-right: 0px;
}

